{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-5 pt-5">
    <h1 class="text-center mt-2 mb-5">Kártyák</h1>
    <div class="row mb-4 mt-5">
        <div class="col-6 mx-auto">
            <a href="javascript:flipCard()" class="col-10 col-md-6 h5" style=" text-decoration: none; color: black;">
                <div class="tab-content text-center" id="cardsholder" style="background-color: #89CFF0;">
                    {% for i in range(lista_hossz) %}
                        {% if i == 0 %}
                        <div class="quizcard tab-pane fade show active d-flex align-items-center justify-content-center p-5" id="card-{{ i }}">
                        {% else %}
                        <div class="quizcard tab-pane fade align-items-center justify-content-center p-5" id="card-{{ i }}">
                            {% endif %}
                            <span id="card{{ i }}front" class="front align-middle">
                                {{ lista[i][0]|safe }}
                            </span>
                            <span id="card{{ i }}back" class="back d-none align-middle">
                                {{ lista[i][1]|safe }}
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </a>
        </div>
    </div>
    <div class="row my-5">
        <span class="text-center">Kártya: <span id="currentcardtext">1</span> / <span
                id="maxcardtext">{{lista_hossz}}</span></span>
    </div>
    <div class="row my-5">
        <div class="col-2 col-md-1 mx-auto">
            <a href="javascript:prevCard()" class="p-2 mx-auto">
                Elöző
            </a>
        </div>
        <div class="col-2 col-md-1 mx-auto">
            <a href="javascript:nextCard()" class="p-2 mx-auto">
                Következő
            </a>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/card.js')}}"></script>
{% endblock %}
</body>

</html>